.about-me{
    margin: 50px 400px;
    text-align: left;
}

.about-me h2{
    text-align: center;
    font-size: 30px;
}

.about-me-part-1{
    display: flex;
    flex-direction: row;
}

.caleb-image{
    margin-top: 30px;
}

.caleb-image img{
    height: 400px;
    border-radius: 20px;
    margin-right: 40px;
}

.about-me-description p, .about-me-part-2 p{
    font-size: 15px;
}

.about-me span{
    font-weight: 700;
}

.tech-skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
    gap: 20px 10px;
    text-align: center;
    padding-top: 30px;
}

.skill-card{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, #121B22, #052B28, #121B22);
    border-radius: 10px;
    padding: 2px 10px;
    align-items: center;       /* vertical alignment */
    justify-content: center;   /* horizontal alignment */
    text-align: center;
}

.skill-card p{
/*     background-color: #052B28; */
    color: white;
    align-items: center;       /* vertical alignment */
    justify-content: center;   /* horizontal alignment */
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
}

.skill-card img{
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

@media (max-width: 500px) {
    .about-me{
        margin: 50px 35px;
    }

    .about-me-part-1{
        display: block;
    }

    .caleb-image img{
        height: 200px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-left: 100px;
    }
    
    .about-me h2{
        font-size: 20px;
    }

    .about-me-content{
        display: block;
    }

    .about-me-content p{
        font-size: 12px;
        line-height: 25px;
    }

    .about-me-text p{
        font-size: 12px;
        line-height: 25px;
    }
    
    .about-me span{
        font-weight: 700;
    }

    .tech-skills{
        margin: -10px 0px 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: max-content;
        padding-top: 1cap;
    }
    
    .skill-card p{
        padding: 5px;
        margin-right: 20px;
        font-size: 11px;
        font-weight: 600;
    }

    .skill-card img{
        height: 20px;
        width: 20px;
        border-radius: 5px;
    }
}

@media (min-width: 500px) and (max-width: 860px) {
    .about-me{
        margin: 50px;
        width: 800px;
    }

    .tech-skills{
        margin: -30px 30px 10px;
    }
}

@media (min-width: 860px) and (max-width: 1030px) {
    .about-me{
        margin: 60px 100px;
    }

    .tech-skills{
        margin: -30px 0px 10px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1090px) and (max-width: 1740px) {
    .about-me{
        margin: 80px 250px;
    }

    .tech-skills{
        margin: -30px 30px 10px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}
