.projects{
    background: linear-gradient(to bottom, #121B22, #052B28, #121B22);
    color: white;
    padding: 10px 370px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.projects h2, .all-projects h2{
    font-size: 30px;
}

.project-component-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    align-items: stretch;
    justify-content: center;
}

.project-card{
    border: 1px rgb(212, 212, 212) solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 30px 20px 0px 0px;
    width: 320px;
}

.project-details-text{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
    color: black;
}

.project-details-text p{
    margin-top: 0px;
}

.project-details-text p, .project-languages-used p{
    font-size: 13px;
}

.project-description{
    font-size: 15px;
    line-height: 25px;
    flex-grow: 0;
}

.project-languages-used{
    margin-top: auto;
}

.project-languages-used .languages {
    margin-top: 0px;
    display: flex;               
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start; 
}

.project-languages-used .languages h6 {
    margin: 0;                   
    background-color: rgb(237, 242, 242);
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    font-size: 12px;
    min-width: 60px;          
    white-space: nowrap;
    text-align: center;
}

.project-details-image img{
    width: 330px;
    border-radius: 5px;  
}

.projects h4{
    cursor: pointer;
    text-align: right;
}

.projects h4:hover{
    text-decoration: underline;
    color: #a2ded9;
    transition: 0.9s ease;
}

.project-links{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.project-links a{
    text-decoration: none;
    margin-top: 10px;
}

.live-demo-link{
    background-color: rgb(38, 117, 117);
    margin-right: 10px;
    color: #f5fffe;
    padding: 10px;
    border-radius: 10px;
}

.live-demo-link:hover{
    background-color: rgb(73, 157, 157);
    transition: 0.6s ease-in-out;
}
    
.github-frontend, .github-backend{
    border: 1px rgb(38, 117, 117) solid;
    color: rgb(17, 79, 79);
    padding: 10px;
    border-radius: 10px;
}

.github-backend{
    border: 1px rgb(0, 37, 37) solid;
    color: rgb(0, 37, 37);
}

.github-frontend:hover, .github-backend:hover{
    background-color: #DEFAFA;
    transition: 0.6s ease-in-out;
}

@media (max-width: 500px) {
    .projects{
        padding: 10px;
    }

    .projects-component, .projects-component-card{
        display: flex;  
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project-card{
        padding: 10px;
        margin: 15px 10px;
        width: 320px;
    }

    .project-details-image img{
        width: 300px;
    }

    .project-description, .project-languages-used p{
        font-size: 13px;
    }

    .project-links a{
        font-size: 12px;
    }

    .projects p, .all-projects p{
        font-size: 12px;
    }

    .projects h4{
        margin-top: 50px;
        font-size: 15px;
    }

    .languages h6{
        padding: 5px 8px;
        font-size: 11px;
    }

    .live-demo-link{
        margin-right: 10px;
    }

    .github-frontend{
        margin-right: 10px;
    }
}

@media (min-width: 500px) and (max-width: 700px) {
    .projects{
        padding: 10px 40px;
        width: 860px;
    }
    
}

@media (min-width: 700px) and (max-width: 860px) {
    .projects{
        padding: 10px 50px;
        width: 860px;
    }

}

@media (min-width: 860px) and (max-width: 1090px) {
    .projects{
        padding: 10px 100px;
    }

    .project-description, .project-languages-used p, .all-project-details-text, .all-project-languages-used p{
        font-size: 13px;
    }

    .project-links a{
        font-size: 16px;
    }

    .projects h4{
        margin-top: 50px;
    }

    .live-demo-link{
        margin-right: 10px;
    }

    .github-frontend{
        margin-right: 10px;
    }
}

@media (min-width: 1090px) and (max-width: 1740px) {
    .projects{
        padding: 10px 200px;
    }

    .project-description, .project-languages-used p, .all-project-details-text, .all-project-languages-used p{
        font-size: 14px;
    }

    .project-links a{
        font-size: 12px;
    }

    .projects h4{
        margin-top: 50px;
    }

    .live-demo-link{
        margin-right: 10px;
    }

    .github-frontend{
        margin-right: 10px;
    }
}
