.cta{
    margin: 100px 500px;
}

.cta h2{
    font-size: 30px;
}

.cta-content{
    display: flex;
    flex-direction: row;
    text-align: left;
}

.cta-text h4{
    color: rgb(97, 97, 97);
}

.cta-text span{
    text-decoration: underline;
    cursor: pointer;
}

.cta-image{
    margin-left: 50px;
}

.cta-image img{
    width: 150px;
}

@media (max-width: 450px) {
    .cta{
        margin: 60px 40px;
    }

    .cta-content{
        display: block;
    }

    .cta-text{
        font-size: 13px;
    }

    .cta-image img{
        width: 100px;
        margin-left: 30px;
    }

}

@media (min-width: 450px) and (max-width: 860px) {
    .cta{
        margin: 100px;
    }

    .cta-image{
        margin-left: 0px;
    }

    .cta-text p{
        width: 600px;
    }
}

@media (min-width: 860px) and (max-width: 1030px) {
    .cta{
        margin: 60px 150px;
    }

    .cta-image{
        margin-left: 0px;
    }

    .cta-text p{
        width: 600px;
    }

}

@media (min-width: 1090px) and (max-width: 1740px) {
    .cta{
        margin: 60px 230px;
    }

    .cta-image{
        margin-left: 0px;
    }

    .cta-text p{
        width: 600px;
    }
}

