.footer{
    background-color: #121B22;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 40px 50px;
    text-align: center;
    justify-content: center;
}

.footer-logo{
    margin-right: 200px;
}

.footer-clickables{
    display: flex;
}

.footer-links{
    margin-right: 200px;
}

.footer-links-list li{
    list-style: none;
    cursor: pointer;
    margin-left: -30px;
    margin-bottom: 10px;
    text-align: left;
}

.footer-links-list li:hover{
    text-decoration: underline;
    color: #a8fff8;
    transition: 0.8s ease;
}

.socials{
    display: flex;
    flex-direction: row;
}

.socials img{
    background-color: white;
    height: 50px;
    margin-right: 50px;
    cursor: pointer;
}

.linkedin-link{
    border-radius: 20px;
}

.github-link, .email-link{
    border-radius: 40px;
}

.socials img:hover{
    background-color: rgb(120, 198, 226);
    transition: 0.6s ease-in;
}

@media (max-width: 450px) {
    .footer{
        padding: 40px;
        justify-content: left;
        display: block;
    }

    .footer-logo{
        margin-right: 50px;
    }

    .footer-links{
        margin-right: 60px;
    }

    .footer-links-list h3, .footer-socials h3{
        font-size: 16px;
    }

    .footer-links-list li{
        font-size: 14px;
    }

    .footer-socials h3{
        margin-left: -60px;
    }

    .socials img{
        height: 40px;
        margin-right: 50px;
    }
}

@media (min-width: 450px) and (max-width: 860px) {
    .footer{
        padding: 40px;
        justify-content: left;
        width: 900px;
    }

    .footer-logo{
        margin-right: 100px;
    }

    .footer-links{
        margin-right: 100px;
    }
}

@media (min-width: 860px) and (max-width: 1030px) {
    .footer{
        padding: 40px;
        justify-content: left;
    }

    .footer-logo{
        margin-right: 120px;
    }

    .footer-links{
        margin-right: 120px;
    }
}

@media (min-width: 1090px) and (max-width: 1740px) {

    .footer-logo{
        margin-right: 130px;
    }

    .footer-links{
        margin-right: 130px;
    }
}

