.hero-section-component{
    background: linear-gradient(to bottom, #121B22, #052B28, #121B22);
    color: white;
    padding-bottom: 30px;
    height: 80%;
}

.navbar{
    display: flex;
    flex-direction: row;
    margin: 0px 200px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: -20px;
}

.navbar h4{
    font-size: 30px;
}

.navbar-links-list{
    display: flex;
    flex-direction: row;
    margin-left: 400px;
}

.navbar-links-list li{
    list-style: none;
    margin-right: 100px;
    cursor: pointer;
}

.navbar-links-list li:hover{
    text-decoration: underline;
    color: #a8fff8;
    transition: 0.9s ease;
}

.hero-section{
    margin: 200px 400px;
    text-align: left;
}

.hero-section h5{
    color: rgb(156, 223, 223);
    font-size: 18px;
    font-weight: 500;
}

.hero-section h1{
    font-size: 40px;
}

.hero-section h2{
    color: rgb(202, 202, 202);
    font-family: "Open Sans", sans-serif;
    font-size: 27px;
}

.hero-section h3{
    color: rgb(202, 202, 202);
    font-weight: 500;
    font-size: 15px;
}

.hero-section h6{
    font-size: 16px;
    margin-top: 100px;
}

.hero-section a{
    font-size: 17px;
    text-decoration: underline;
    cursor: pointer;
    color: white;
    margin-left: 10px;
    
}

@media (max-width: 450px) {
    .navbar{
        margin: 0px;
    }

    .hero-section-component{
        width: 100%;
    }

    .navbar h4{
        font-size: 20px;
        margin-left: 10px;
    }

    .navbar-links-list{
        margin-left: 5px;
    }

    .navbar-links-list li{
        margin-right: 30px;
        font-size: 12px;
    }

    .hero-section{
        margin: 60px 40px;
        justify-content: center;
        align-items: center;
    }

    .hero-section h5{
        font-size: 15px;
    }

    .hero-section h1{
        font-size: 25px;
        margin-top: 30px;
    }

    .hero-section h2{
        font-size: 18px;
        line-height: 30px;
        margin-top: 40px;
    }

    .hero-section h3{
        font-size: 12px;
        margin-top: 40px;
        line-height: 30px;
    }

    .hero-section h6, .hero-section span{
        font-size: 13px;
        margin-top: 40px;
    }

}

@media (min-width: 450px) and (max-width: 860px) {

    .navbar h4{
        font-size: 20px;
    }

    .hero-section-component{
        width: 1000px;
    }

    .navbar-links-list{
        margin-left: 200px;
    }

    .hero-section{
        margin: 100px;
    }

    .hero-section h5{
        font-size: 20px;
    }

    .hero-section h1{
        font-size: 35px;
        margin-top: 40px;
    }

    .hero-section h2{
        font-size: 25px;
        line-height: 40px;
        margin-top: 40px;
    }

    .hero-section h3{
        font-size: 15px;
        margin-top: 40px;
        line-height: 40px;
    }
}

@media (min-width: 860px) and (max-width: 1030px) {

    .navbar h4{
        font-size: 30px;
    }

    .navbar-links-list{
        margin-left: 200px;
    }

    .hero-section{
        margin: 100px;
    }

    .hero-section h5{
        font-size: 25px;
    }

    .hero-section h1{
        font-size: 40px;
        margin-top: 50px;
    }

    .hero-section h2{
        font-size: 30px;
        line-height: 40px;
        margin-top: 50px;
    }

    .hero-section h3{
        font-size: 18px;
        margin-top: 50px;
        line-height: 40px;
    }
}

@media (min-width: 1090px) and (max-width: 1740px) {
    .navbar h4{
        font-size: 30px;
    }

    .navbar-links-list{
        margin-left: 200px;
    }

    .hero-section{
        margin: 100px 230px;
    }

    .hero-section h5{
        font-size: 25px;
    }

    .hero-section h1{
        font-size: 40px;
        margin-top: 60px;
        line-height: 50px;
    }

    .hero-section h2{
        font-size: 30px;
        line-height: 40px;
        margin-top: 60px;
    }

    .hero-section h3{
        font-size: 18px;
        margin-top: 60px;
        line-height: 40px;
    }
}