.projects{
    background: linear-gradient(to bottom, #121B22, #1D4D49, #173435, #15282C, #121B22);
    color: white;
    padding: 80px 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.project-card{
    display: flex;
    flex-direction: row;
}

.project-details-text{
    text-align: left;
}

.languages{
    display: flex;
    flex-direction: row;
}

.languages h6{
    margin-right: 30px;
    background-color: rgb(38, 117, 117);
    padding: 5px 10px;
    border-radius: 5px;
}

.projects h4{
    cursor: pointer;
    text-align: right;
}