.projects{
    background: linear-gradient(to bottom, #121B22, #052B28, #121B22);
    color: white;
    padding: 10px 370px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.projects h2, .all-projects h2{
    font-size: 30px;
}

.project-component-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}

.project-card{
    border: 1px rgb(212, 212, 212) solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 30px 20px 0px 0px;
    width: 320px;
}

.project-details-text{
    text-align: left;
}

.project-details-text p, .project-languages-used p{
    font-size: 13px;
}

.project-description{
    font-size: 15px;
    line-height: 25px;
}

.project-languages-used .languages{
    margin-top: -40px;
}

.languages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.languages h6{
    margin-right: 5px;
    background-color: rgb(237, 242, 242);
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    font-size: 12px;
}

.project-details-image img{
    width: 330px;
    border-radius: 5px;  
}

.projects h4{
    cursor: pointer;
    text-align: right;
}

.projects h4:hover{
    text-decoration: underline;
    color: #1b5b56;
    transition: 0.9s ease;
}

.all-projects{
    background: linear-gradient(to bottom, #121B22, #052B28, #121B22);
    color: white;
    padding: 10px 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.all-projects-card{
    background-color: white;
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
    padding: 10px 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.all-project-details-image img{
    max-width: 500px;
    border-radius: 5px;
    margin: 20px 30px;
}

.all-project-languages-used{
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.all-project-languages-used p {
    margin: 0px 10px 0px 0px;
}

.project-links{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0px;
}

.project-links a{
    text-decoration: none;
}

.live-demo-link{
    background-color: rgb(38, 117, 117);
    margin-right: 10px;
    color: #f5fffe;
    padding: 10px;
    border-radius: 10px;
}

.github-frontend, .github-backend{
    border: 1px rgb(38, 117, 117) solid;
    color: rgb(17, 79, 79);
    padding: 10px;
    border-radius: 10px;
}

.github-backend{
    border: 1px rgb(0, 37, 37) solid;
    color: rgb(0, 37, 37);
}

@media (max-width: 450px) {
    .projects{
        padding: 10px 40px;
    }

    .all-projects{
        padding: 10px 40px;
    }

    .all-projects-card{
        display: flex;
        flex-direction: column;
        margin: 0px 0px 20px -10px;
    }
    
    .all-project-details-image img{
        width: 250px;
        margin: 10px 10px 0px 5px;
    }

    .all-project-languages-used{
        display: block;
        margin-top: 10px;
    }

    .project-card{
        padding: 10px;
        margin: 10px 10px 10px -20px;
        width: 320px;
    }

    .project-details-image img{
        width: 300px;
    }

    .project-description, .project-languages-used p, .all-project-details-text, .all-project-languages-used p{
        font-size: 13px;
    }

    .project-links a{
        font-size: 12px;
    }

    .projects p, .all-projects p{
        font-size: 12px;
    }

    .projects h4{
        margin-top: 50px;
        font-size: 15px;
    }

    .languages h6{
        padding: 5px 8px;
        font-size: 11px;
    }

    .live-demo-link{
        margin-right: 10px;
    }

    .github-frontend{
        margin-right: 10px;
    }
}

@media (min-width: 450px) and (max-width: 600px) {
    .projects{
        padding: 10px 50px;
        width: 860px;
    }

    .all-projects{
        padding: 10px 50px;
    }

    .all-projects-card{
        display: flex;
        flex-direction: column;
    }

    .all-project-details-image{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .all-project-details-image img{
        max-width: 450px;
        margin: 20px 0px;
    }

    .all-project-languages-used{
        margin-top: 0px;
        display: block;
    }
}

@media (min-width: 600px) and (max-width: 860px) {
    .projects{
        padding: 10px 50px;
        width: 860px;
    }

    .all-projects{
        padding: 10px 50px;
    }

    .all-projects-card{
        display: flex;
        flex-direction: column;
    }

    .all-project-details-image{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .all-project-details-image img{
        max-width: 450px;
        margin: 20px 0px;
    }

    .all-project-languages-used{
        margin-top: 0px;
        display: block;
    }
}

@media (min-width: 860px) and (max-width: 1090px) {
    .projects, .all-projects{
        padding: 10px 100px;
    }

   .all-projects-component-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
   }

    .all-projects-card{
        display: flex;
        flex-direction: column;
        margin: 0px 30px 20px 0px;
    }

    .all-project-details-image{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .all-project-details-image img{
        width: 250px;
        margin: 20px;
    }

    .all-project-languages-used{
        display: block;
    }

    .project-description, .project-languages-used p, .all-project-details-text, .all-project-languages-used p{
        font-size: 13px;
    }

    .project-links a{
        font-size: 16px;
    }

    .projects h4{
        margin-top: 50px;
    }

    .live-demo-link{
        margin-right: 10px;
    }

    .github-frontend{
        margin-right: 10px;
    }
}

@media (min-width: 1090px) and (max-width: 1740px) {
    .projects, .all-projects{
        padding: 10px 200px;
    }

   .all-projects-component-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
   }

    .all-projects-card{
        display: flex;
        flex-direction: column;
        margin: 0px 30px 20px 0px;
    }

    .all-project-details-image{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .all-project-details-image img{
        width: 400px;
        margin: 20px;
    }

    .project-description, .project-languages-used p, .all-project-details-text, .all-project-languages-used p{
        font-size: 14px;
    }

    .project-links a{
        font-size: 12px;
    }

    .projects h4{
        margin-top: 50px;
    }

    .live-demo-link{
        margin-right: 10px;
    }

    .github-frontend{
        margin-right: 10px;
    }
}
